@font-face {
    font-family: 'PP Formula';
    src: url(#{pp-formula-extrabold}) format("woff2"),
    url(#{pp-formula-semiextendedbold}) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinetype';
    src: url(#{cinetype-bold}) format("woff2"),
    url(#{cinetype-light}) format("woff2"),
    url(#{cinetype-mono}) format("woff2"),
    url(#{cinetype-regular}) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}